<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>henriettapedia</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="whole">
    <div class="gold">
      <div class="top"></div>
      <div class="rec">
        <a href="/"><h1>Home</h1></a>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="green">
      <div class="top"></div>
      <div class="rec">
    <h1>Viewing articles in {{categoryName}}</h1>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="gold">
      <div class="top"></div>
      <div class="rec indexforms">
        <h2>Browse by:</h2>
        <form method="GET" action="categories/">
          category:
          <select name="category">
            {{#categories}}
              <option value="{{id}}">{{name}}</option>
            {{/categories}}
          </select>
          <button>Browse</button>
        </form>
        <h2>Or:</h2>
        <form method="GET" action="users/">
          author:
          <select name="user">
            {{#users}}
              <option value="{{id}}">{{name}}</option>
            {{/users}}
          </select>
          <button>Browse</button>
        </form>
      </div>
      <div class="bottom"></div>
    </div>
    <ul>
    {{#articles}}
      <div class="{{colorClass}} {{divClass}}">
        <div class="top"></div>
        <a href="/articles/{{id}}">
          <div class="rec">
            <li>
              <h2>{{subject}}</h2>
              <h3>{{authorName}}</h3>
              <h4>{{niceCreationDate}}</h4>
              <p>{{stubContent}}</p>
            </li>
          </div>
        </a>
      <div class="bottom"></div>
      </div>
    {{/articles}}
    </ul>
  </div>
</body>
</html>