<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{name}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="whole">
    <div class="gold">
      <div class="top"></div>
      <div class="rec">
        <a href="/"><h1>Home</h1></a>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="green">
      <div class="top"></div>
      <div class="rec">
        <h1>See what {{userName}} has been contributing.</h1>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="gold">
      <div class="top"></div>
      <div class="rec">
        <h2>Part of the {{team}} team</h2>
        <h2>contact: {{email}}</h2>
      </div>
      <div class="bottom"></div>
    </div>
      <ul>
        {{#articles}}
          <div class="{{colorClass}} {{divClass}}">
            <div class="top"></div>
              <a href="/articles/{{id}}">
                <div class="rec">
                  <li>
                    <h2>{{subject}}</h2>
                    <h3>{{categoryName}}</h3>
                    <h4>{{niceCreationDate}}</h4>
                    <p>{{stubContent}}</p>
                </li>
              </div>
            </a>
          <div class="bottom"></div>
       </div>
      {{/articles}}
    </ul>
  </div>
</body>
</html>