/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(247,150,169,1);
  font-family: baskerville;
}

a {
  text-decoration: none;
  color: black;
}

.whole {
  font-size: 0;
  width: 1140px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  padding: 5px;
}

h2, h3 {
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 36px;
  padding-top: 60px;
  font-family: baskerville;
}

#submit {
  text-align: center;
}

.rec.formfun {
  text-align: center;
  line-height: 40px;
}

.gold, .green {
  float: left;
  margin-bottom: -95px;
}

input {
  width: 275px;
  height: 30px;
}

textarea {
  background-color: rgba(255,255,255,0.5);
  margin-top: 95px;
  border: none;
  width: 760px;
  height: 380px;
  font-family: baskerville;
  font-size: 16px;
}

button:hover, a:hover {
  color: gray;
}

.articletext {
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  margin-top: 95px;
  border: none;
  width: 760px;
  font-family: baskerville;
  font-size: 16px;
}

.articletext h3 {
  font-size: 24px;
  font-style: bold;
}

.articletext ul {
  padding: 0 0 0 40px;
  list-style-type: disc;
}

.articletext li {
  display: block;

}

.gold .top {
  width: 0;
  border-bottom: 95px solid rgba(255,205,105,1);  
  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
}

.gold .bottom {
  width: 0;
  border-top: 95px solid rgba(255,205,105,1);  
  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
}

.gold .rec {
  width: 380px;
  height: 190px;
  background-color: rgba(255,205,105,1);  
  display: inline-block;
  overflow: auto;
  font-size: 24px;
}

.green .top {
  width: 0;
  border-bottom: 95px solid rgba(112,254,171,1);
  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
}
.green .bottom {
  width: 0;
  border-top: 95px solid rgba(112,254,171,1);
  border-left: 190px solid transparent;
  border-right: 190px solid transparent;
}

.green .rec {
  width: 380px;
  height: 190px;
  background-color: rgba(112,254,171,1);
  display: inline-block;
  overflow: auto;
  font-size: 24px;
}

h4 {
  font-size: 16px;
  padding: 5px;
}

form {
  padding: 5px;
}

button, select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: baskerville;
}

#indexforms {
  text-align: center;
}

.gold.a, .gold.f, .gold.k, .green.a, .green.f, .green.k {
  clear: left;
}

.gold.d, .gold.i, .gold.n, .green.d, .green.i, .green.n {
  margin-left: 190px;
}
